<%-include("header.ejs") %>

<%-include("login.ejs")%>
<body>
<section class="home" id="home">


</section>
<section class="container">
    <h1 class="promo-h1">
        <span class="field field--name-title field--type-string field--label-hidden">24/7 SUPPORT</span>
    </h1>
    <div class="col-12 p-0 mt-5 line-1-E4E4E4 news-content">
        <h2 class="font-weight-bold news-content-sapo mb-4"><br>VinaAuto thank you for using the service, if you have any suggestions, please contact the hotline 0909090909</h2>
        <h2 class="text-align-justify"><br><br>SAVING 24/7</h2>
        <p class="text-align-justify">-Free 24/7 support and rescue call center service when the vehicle has technical problems: (1900 23 23 89).</p>
        <p class="text-align-justify">-24/7 service ready to support wherever you are right after receiving a customer call.</p>
        <p class="text-align-justify">-Free rescue for faults/damages... Causing stoppage of operation while the vehicle is still under warranty. (Applicable to customers using VinFast or Chervolet vehicles).Free rescue for errors/damages... Causing operation stoppage while the vehicle is still under warranty.
            (Applicable to customers using VinFast or Chervolet cars).</p>
        <img src="/image/repair.png" alt="repair" data-align="center" data-caption="<em>SAVING 24/7</em>" data-entity-type="file" data-entity-uuid="12bf7ebc-35ca-4a1f-96a3-9d6ca96c0cc2" class="b-lazy"   style=""><p class="text-center cap-style mt-2"><em>SAVING 24/7</em></p>
    </div>
</section>

<%- include("footer.ejs") %>


<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<script src="js/app.js"></script>

</body>
</html>
