<%-include("header.ejs") %>

<%-include("login.ejs")%>
<body>
<section class="home" id="home">


</section>
<section class="container">
    <h1 class="promo-h1">
        <span class="field field--name-title field--type-string field--label-hidden">BATTERY REPLACEMENT</span>
    </h1>
    <div class="col-12 p-0 mt-5 line-1-E4E4E4 news-content">
        <h2 class="font-weight-bold news-content-sapo mb-4"><br>Refer to the price list for buying VinFast electric motorbike batteries below to help customers consider costs, thereby making the choice of
            buying or renting batteries to match their financial capabilities and added benefits.</h2>
        <div class="youtube 123"></div>
        <div class="news-slide">
            <div class="gallery-wrapper">
            </div></div><h2 class="text-align-justify"><br><br>1. Price list for buying VinFast electric motorbike batteries</h2>
        <p class="text-align-justify"><br>Currently, VinFast uses two types of batteries, which are lead-acid batteries and Lithium batteries, and apply each type on each of its electric motorcycle models. From here, VinFast electric motorbike models are also classified in 2 directions:</p>
        <p class="text-align-justify"><br></p>
        <p class="text-align-justify"><br></p>
        <img src="image/pinxedien2.png" alt="dau dong co o to la gi" data-align="center" data-caption="<em>Engine oil is a mixture of base oil and additives</em>" data-entity-type="file" data-entity-uuid="12bf7ebc-35ca-4a1f-96a3-9d6ca96c0cc2" class="b-lazy"   style=""><p class="text-center cap-style mt-2"><em>electric vehicle battery</em></p>
        <p class="text-align-justify"><br>Types of Additives Used To Prepare Engine Oils Include: Viscosity Index Increaser, Anti-Oxidant, Detergent, Soot Disperser, Corrosion Inhibitor, Rust Inhibitor, Anti-wear, Anti-friction Killer, Freeze-Reducing Additive and Foam Inhibitor. Each Manufacturer Will Formulate Engine Oil With A Different Ratio.
            Therefore, the User should Choose the Right Engine Oil According to the Car Manufacturer's Recommendations.</p>
        <h2 class="text-align-justify"><br>2. Why should you buy VinFast smart electric motorbike batteries?</h2>
        <p class="text-align-justify"><br>-Outstanding Lithium-ion battery quality</p>
        <p class="text-align-justify"><br>-Actively charge anywhere</p>
        <p class="text-align-justify"><br>-Save on monthly battery rental costs</p>
        <p class="text-align-justify"><br>-Avoid being locked out of your car due to late payment of the battery rental fee</p>
        <img src="image/pinxedien4.png"  alt="" data-align="center" data-caption="<em>Engine oil is a mixture of base oil and additives</em>" data-entity-type="file" data-entity-uuid="12bf7ebc-35ca-4a1f-96a3-9d6ca96c0cc2" class="b-lazy"  style=""><p class="text-center cap-style mt-2"><em>Buying batteries or renting batteries for electric motorbikes VinFast both have their own advantages, customers should consider choosing</em></p>
        <h2 class="text-align-justify"><br>3. Note how to use VinFast electric motorbike batteries effectively</h2>
        <p class="text-align-justify"><br>-Do not arbitrarily open, remove or apply strong force to the battery system. In particular, do not leave the vehicle or the vehicle battery system in a hot and humid area, it is easy to cause a thermal reaction, affecting the quality of the battery.</p>
        <p class="text-align-justify"><br>-The battery should be stored in a dry, well-ventilated and stable place. Be careful not to turn the battery upside down.</p>
        <p class="text-align-justify"><br>-One of the ways to increase the life of an electric motorcycle battery is simply not to leave the vehicle battery in wet places, near a place to store chemicals or leave a heavy object next to the battery. Careless battery storage not only affects the quality and life of the battery, but can also cause electric shock.</p>
        <p class="text-align-justify"><br>-The battery capacity of VinFast electric motorbikes will gradually decrease due to natural wear and tear, even if the vehicle is rarely used.</p>
        <p class="text-align-justify"><br>-One thing to pay special attention to, should not exchange the battery system of other car models for each other. Each car model will be equipped with a compatible battery system, arbitrarily changing the battery status will lead to damage to electrical components on the vehicle.</p>
        <p class="text-align-justify"><br>-Do not exceed the allowable load. Vehicles operating overloaded will cause the battery system to swell, and the quality of the battery will deteriorate</p>
        <p class="text-align-justify"><br>-When not operating, the car still consumes a small amount of energy, so the battery capacity will decrease more or less. If you do not use the vehicle for an extended period of time, it is recommended that you fully charge the battery and then remove the power cable and electrical connection of the battery system from the vehicle.</p>
        <p class="text-align-justify"><br>-When the battery capacity of VinFast electric vehicles is less than 5%, you should not continue to use it, but need to recharge the battery system.</p>
        <p class="text-align-justify"><br>-Do not store the battery when the capacity is less than 5%. Even when not in use, the battery still drains energy, storing the battery when the capacity is about to run out can cause complete damage to the battery system.</p>
        <p class="text-align-justify"><br>-In case the battery indicator flashes a low voltage light, after plugging the battery system into the charger, you need to press the power button on the battery system of the VinFast electric vehicle to start the charging process.</p>
        <img src="image/pinxedien5.png" alt="dau dong co o to la gi" data-align="center" data-caption="<em>Engine oil is a mixture of base oil and additives</em>" data-entity-type="file" data-entity-uuid="12bf7ebc-35ca-4a1f-96a3-9d6ca96c0cc2" class="b-lazy"   style=""><p class="text-center cap-style mt-2"><em>To increase the battery life of VinFast electric vehicles, you need to store and use them according to the manufacturer's instructions</em></p>
    </div>
</section>

<%- include("footer.ejs") %>


<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<script src="js/main.js"></script>

</body>
</html>
