<%-include("header.ejs") %>

<%-include("login.ejs")%>
<body>
<section class="home" id="home">


</section>
<section class="container">
    <h1 class="promo-h1">
        <span class="field field--name-title field--type-string field--label-hidden">CAR INSURANCE</span>
    </h1>
    <div class="col-12 p-0 mt-5 line-1-E4E4E4 news-content">
        <h2 class="font-weight-bold news-content-sapo mb-4">
            <br>Currently, the situation of road traffic in our country is increasingly complicated. In addition to the poor awareness of some traffic participants, the degraded road and bridge system, severe weather conditions, etc. are also the causes of traffic accidents.</h2>
        <div class="youtube 123"></div>
        <div class="news-slide">
            <div class="gallery-wrapper">
            </div>
        </div>
        <h2 class="text-align-justify"><br><br>Types of important car insurance car owners need to know</h2>
        <h3 class="text-align-justify"><br>1. Compulsory civil liability insurance</h3>
        <p class="text-align-justify">This is a type of compulsory auto insurance that applies to all motor vehicle owners when participating in traffic in the territory of Vietnam. Compulsory civil liability insurance is enforced in order to protect the interests of victims (third parties - collision victims)
            for damages caused by motor vehicle owners.</p>
        <h3 class="text-align-justify"><br>2. Accident insurance for driver, assistant and occupants</h3>
        <p class="text-align-justify">This is a form of voluntary insurance for the driver and the people sitting in the car when they lose their life and body due to a traffic accident.</p>
        <h3 class="text-align-justify"><br>3. Car material insurance</h3>
        <p class="text-align-justify"><br>Automobile physical insurance (car body insurance), also a voluntary insurance, has the role of protecting the body and machinery and equipment of the car. Accordingly, when a traffic accident occurs, the insurance service side will support the cost to overcome damages such as scratches, dents, fire, explosion, theft, ...</p>
        <h3 class="text-align-justify"><br>4. Voluntary civil liability insurance</h3>
        <p class="text-align-justify">Coverage represents an increased liability beyond the state-mandated coverage the car owner wants to participate in. The insurance company will return the difference in the amount the car owner has compensated the victim based on the extent of fault in the accident and the amount the car owner participates in insurance.</p>
        <h3 class="text-align-justify"><br>5. Cargo civil liability insurance</h3>
        <p class="text-align-justify">Cargo civil liability insurance covers damage to goods caused by accidents caused by vehicle owners during transportation. At this time, the insurance company will compensate the necessary and reasonable expenses for the goods owner in accordance with the provisions of the Civil Law.</p>
        <h3 class="text-align-justify"><br>6. Two-way auto insurance</h3>
        <p class="text-align-justify">This is an informal term for insurance that will cover any accident that occurs. Two-way auto insurance includes two types of auto insurance and auto insurance.</p>
    </div>
</section>

<%- include("footer.ejs") %>


<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<script src="js/main.js"></script>

</body>
</html>
