<!DOCTYPE html>
<html lang="en">
<head>
<!--    <%- include("header.ejs") %>-->
</head>
<body>

    <h1>Xin chao các bạn</h1>
    <div class="container">
        <h1>Xin chao các bạn</h1>
        <div class="col-md-3">
            <form action="/demo" method="get">
                <input class="form-control" type="text" name="nameProduct" />
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>

        <ul class="col-md-6">
    <ul>
        <%
        // o day viet code js
        for(var i=0;i<products.length;i++){ %>
            <li><%= products[i].nameProduct %>
                    -- Giá tiền:
                    <% if(products[i].buyNow<=20){ %>
                        <i><%= products[i].buyNow %></i>
                    <% }else{ %>
                        <b><%= products[i].buyNow %></b>
                    <% }%>
            </li>
        <%    }  %>
    </ul>

</body>
</html>