<%-include("header.ejs") %>

<%-include("login.ejs")%>
<body>
<section class="home" id="home">


</section>
<section class="container">
    <h1 class="promo-h1">
        <span class="field field--name-title field--type-string field--label-hidden">ENGINE OIL</span>
    </h1>
    <div class="col-12 p-0 mt-5 line-1-E4E4E4 news-content">
        <h2 class="font-weight-bold news-content-sapo mb-4"><br>Different car models are recommended by the manufacturer for a certain type of engine oil.
            Same with VinFast models, customers should use the right oil for the car to increase the performance and life of the car.</h2>
        <div class="youtube 123"></div>
        <div class="news-slide">
            <div class="gallery-wrapper">
            </div></div><h2 class="text-align-justify"><br><br>THINGS TO KNOW ABOUT ENGINE OIL</h2>

        <p class="text-align-justify"><br><strong>ENGINE OIL</strong>Is a Blend of Base Oils (Mineral Base Oils Or Synthetic Base Oils) And Additives Prepared In A Certain Ratio.
            Engine Oil Lubricates Engine Components, Cools, Reduces Friction, Cleans And Protects Engine Against Rust, Corrosion.
            Maintaining a Stable Oil Level Will Ensure Smooth, Powerful Engine Operation And Extend Engine Life.</p>
        <img alt="dau dong co o to la gi" data-align="center" data-caption="<em>Engine oil is a mixture of base oil and additives</em>" data-entity-type="file" data-entity-uuid="12bf7ebc-35ca-4a1f-96a3-9d6ca96c0cc2" class="b-lazy" src="https://storage.googleapis.com/vinfast-data-01/dau-dong-co-o-to-la-gi.jpg" data-original="https://storage.googleapis.com/vinfast-data-01/dau-dong-co-o-to-la-gi.jpg" style=""><p class="text-center cap-style mt-2"><em>Engine oil is a mixture of base oil and additives</em></p>
        <p class="text-align-justify"><br>Types of Additives Used To Prepare Engine Oils Include: Viscosity Index Increaser, Anti-Oxidant, Detergent, Soot Disperser, Corrosion Inhibitor, Rust Inhibitor, Anti-wear, Anti-friction Killer, Freeze-Reducing Additive and Foam Inhibitor. Each Manufacturer Will Formulate Engine Oil With A Different Ratio.
            Therefore, the User should Choose the Right Engine Oil According to the Car Manufacturer's Recommendations.</p>

        <h2 class="text-align-justify"><br>INSTRUCTIONS FOR CHECKING AND ADDING ENGINE OIL FOR VIFAST MODELS</h2>

        <p class="text-align-justify"><br>The process of driving the car causes the engine oil to degrade and need to be replaced to maintain the stability of the car engine.
            Therefore, customers are advised to check and replace engine oil at regular intervals.</p>

        <h3 class="text-align-justify">SEE THE ENGINE OIL WARNING DISPLAY</h3>

        <p class="text-align-justify">A highlight of VinFast models is the engine oil warning mode through the display screen.
            When the oil level is low or the oil pressure is low, the screen will display an oil tap icon warning for the driver to grasp.
            At this time, the vehicle needs to be refilled with oil within 200km of receiving the notice.</p>

        <p class="text-align-justify">Absolutely do not add too much oil or do not add oil when there is a shortage of oil.
            This can easily cause damage and greatly affect the performance of the car engine.</p>

        <p class="text-align-justify">Users should note that the oil level is just enough for the engine to operate optimally.</p>

        <h3 class="text-align-justify">CHECK THE OIL LEVEL</h3>

        <p class="text-align-justify">Through checking the oil level, the user will know the specific status of the remaining engine oil in the vehicle and then consider adding the right amount of oil.&nbsp;</p>

        <p class="text-align-justify">Before performing an engine oil check, users should pay attention to the following actions:</p>

        <p class="text-align-justify">- Make sure the engine is at working temperature and the vehicle is parked on a level surface.</p>

        <p class="text-align-justify">- Turn off the engine completely and leave it on for 5 minutes for VinFast Lux cars, for 15 minutes for VinFast President cars.</p>

        <p class="text-align-justify">- Open the bonnet.</p>

        <p class="text-align-justify">- Pull out the dipstick, wipe the dipstick clean with a cloth.</p>

        <p class="text-align-justify">- Plug the dipstick back in.</p>

        <p class="text-align-justify">- Pull out the dipstick again and read the oil level. The reference oil level is between the lowest and highest lines.</p>

        <p class="text-align-justify">Note: The driver absolutely does not measure the oil level when the engine is running and if the oil level drops to the lowest line, then the display will notify.</p>
        <img alt="kiem tra dau dong co bang que tham" data-align="center" data-caption="<em>Check engine oil level with oil dipstick</em>" data-entity-type="file" data-entity-uuid="48accb22-0ec1-4643-bc31-f7671d0b73f6" class="b-lazy" src="https://storage.googleapis.com/vinfast-data-01/kiem-tra-dau-dong-co-bang-que-tham.png" data-original="https://storage.googleapis.com/vinfast-data-01/kiem-tra-dau-dong-co-bang-que-tham.png" style=""><p class="text-center cap-style mt-2"><em>Check engine oil level with oil dipstick</em></p>
        <h3 class="text-align-justify">ADD MORE ENGINE OIL</h3>

        <p class="text-align-justify">After performing the oil survey, if the oil is below the standard level, the user needs to add more engine oil according to the following instructions.</p>

        <p class="text-align-justify">- Turn off the starter and park the vehicle safely before adding more engine oil.</p>

        <p class="text-align-justify">- Proceed to add 1 liter of oil for 4-cylinder engines.</p>

        <p class="text-align-justify">Oil should only be added to the engine when the driver sees a message on the display or the oil level is near the MIN level on the dipstick after conducting the test.</p>

        <h2 class="text-align-justify"><br>RECOMMENDED ENGINE OIL FOR VINFAST FADIL CARS</h2>

        <p class="text-align-justify"><br>For the company's car line, the most suitable engine oil is dexos 1, dexos 2.</p>

        <p class="text-align-justify">Note that only dexos certified motor oils should be used. Oils that meet vehicle requirements must have a dexos certificate on the tank.&nbsp;</p>

        <p class="text-align-justify">If dexos certified engine oil is not available, users should only use lubricants of equivalent specifications.
            Or use up to 1 liter of ACEA A3/B4 or A3/B3 oil (only once after each oil change) with standard viscosity.</p>
        <img alt="dau dong co khuyen dung cho vinfast fadil" data-align="center" data-caption="<em>The recommended engine oil for VinFast Fadil is the dexos . standard</em>" data-entity-type="file" data-entity-uuid="eb85199d-c753-4013-a247-dc61bdb66f80" class="b-lazy" src="https://storage.googleapis.com/vinfast-data-01/dau-dong-co-khuyen-dung-cho-vinfast-fadil.jpg" data-original="https://storage.googleapis.com/vinfast-data-01/dau-dong-co-khuyen-dung-cho-vinfast-fadil.jpg" style=""><p class="text-center cap-style mt-2"><em>The recommended engine oil for VinFast Fadil is the dexos . standard</em></p>
        <h2 class="text-align-justify"><br>RECOMMENDED ENGINE OIL FOR VINFAST LUX CARS</h2>

        <p class="text-align-justify"><br>Users should use Castrol Edge Professional LL01 5W - 30 oil during maintenance for VinFast Lux A2.0 and Lux ​​SA2.0.
            If this oil is not available at the service facility or where you live, you can also use API SN oil with a viscosity of 5W - 30 or higher.</p>
        <img alt="dau dong co khuyen dung cho vinfast lux" data-align="center" data-caption="<em>Recommended engine oil for VinFast Lux according to API SN . standard</em>" data-entity-type="file" data-entity-uuid="661872d6-fe7c-47a9-8521-5d3c01cca4dc" class="b-lazy" src="https://storage.googleapis.com/vinfast-data-01/dau-dong-co-khuyen-dung-cho-vinfast-lux.jpg" data-original="https://storage.googleapis.com/vinfast-data-01/dau-dong-co-khuyen-dung-cho-vinfast-lux.jpg" style=""><p class="text-center cap-style mt-2"><em>Recommended engine oil for VinFast Lux according to API SN . standard</em></p>
        <h2 class="text-align-justify"><br>RECOMMENDED ENGINE OIL FOR VINFAST PRESIDENT<br></h2>

        <p class="text-align-justify"><br>For VinFast President, users should choose an engine oil with a viscosity of SAE 5W - 30 to avoid causing engine damage.</p>
        <img alt="dau dong co khuyen dung cho vinfast president" data-align="center" data-caption="<em>Engine oil for VinFast President cars is the type with a viscosity of SAE 5W - 30</em>" data-entity-type="file" data-entity-uuid="d135d5e9-7fe7-46d2-bc3b-7408ef32ce8e" class="b-lazy" src="https://storage.googleapis.com/vinfast-data-01/dau-dong-co-khuyen-dung-cho-vinfast-president.png" data-original="https://storage.googleapis.com/vinfast-data-01/dau-dong-co-khuyen-dung-cho-vinfast-president.png" style=""><p class="text-center cap-style mt-2"><em>Engine oil for VinFast President cars is the type with a viscosity of SAE 5W - 30</em></p>
        <p class="text-align-justify"><br>Oil quality is very important for the longevity of your vehicle's engine.
            However, in the absence of oil with a viscosity of SAE 5W - 30,
            Users can also use lubricants according to Dexos 1 Gen 2 SAE standards such as ACDelco Dexos 1 gen 2 Synthetic Blend.
            In addition, VinFast advises users to go to a genuine service center to periodically change the car's oil.</p>

        <p class="text-align-justify">Depending on the vehicle model, users should use the appropriate engine oil according to the manufacturer's recommendations.
            The car engine always operates stably and prolongs its use time by adding the right type of oil at the right time.</p>

        <p class="text-align-justify">Customers find out information and order VinFast cars such as&nbsp;VinFast VF e34,&nbsp;
            VinFast President,&nbsp;VinFast Lux SA2.0,&nbsp;VinFast Lux A2.0 contact Hotline <strong>1900 2323 89</strong> for detailed advice.</p>
    </div>
</section>

<%- include("footer.ejs") %>


<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<script src="js/app.js"></script>

</body>
</html>
