<%-include("header.ejs") %>

<%-include("login.ejs")%>
<body>
<section class="home" id="home">
    <section class="container">
        <h1 class="promo-h1">
            <span class="field field--name-title field--type-string field--label-hidden">PARTS REPAIR</span>
        </h1>
        <div class="col-12 p-0 mt-5 line-1-E4E4E4 news-content">
            <h2 class="font-weight-bold news-content-sapo mb-4">
                <br>Proud to be the only car brand researched and developed by Vietnamese people,
                VinFast has always determined to become the best customer care car company in the market.
                Consistent with that goal, besides creating high-class product lines with stable quality,
                VinFast has seriously and methodically invested in developing a system of Showrooms, Distributors (NPPs) and service workshops.
                wide, to meet the maximum needs of customers.</h2>
            <div class="youtube 123"></div>
            <div class="news-slide">
                <div class="gallery-wrapper">
                </div>
            </div>
            <h2 class="text-align-justify"><br><br>GENERAL REPAIR</h2>
            <p class="text-align-justify">-Check and diagnose problems encountered on Customer's vehicle. Provide a treatment plan so that the vehicle always operates in the safest state.</p>
            <p class="text-align-justify">-All spare parts for maintenance, repair and replacement are provided genuine, always ready to meet the needs of customers in the fastest and best quality.</p>
            <p class="text-align-justify">-Equipment to support inspection, diagnosis and repair is invested synchronously from Italy, Japan, Germany... to ensure the strict technical standards of VinFast cars..</p>
            <img alt="suachua" data-align="center" data-caption="<em>Engine oil is a mixture of base oil and additives</em>" data-entity-type="file" data-entity-uuid="12bf7ebc-35ca-4a1f-96a3-9d6ca96c0cc2" class="b-lazy" src="image/suachua1.png"  style=""><p class="text-center cap-style mt-2"><em>diagnostic test</em></p>
            <h2 class="text-align-justify"><br>PERFORMANCE MAINTENANCE</h2>
            <p class="text-align-justify"><br>-Helps maintain a stable state, prolongs the life of parts, detects damage early and helps the vehicle always operate stably and safely.</p>
            <p class="text-align-justify"><br>-Limit damage arising during use, thereby saving costs and time.</p>
            <p class="text-align-justify"><br>-Work is performed according to a certain cycle (Specified by distance or time of use).
                This is a necessary condition to enjoy the warranty policy.</p>
            <img alt="suachua" data-align="center" data-caption="<em>GENERAL REPAIR</em>" data-entity-type="file" data-entity-uuid="12bf7ebc-35ca-4a1f-96a3-9d6ca96c0cc2" class="b-lazy" src="image/suachua2.png"  style=""><p class="text-center cap-style mt-2"><em>GENERAL REPAIR</em></p>
            <h2 class="text-align-justify"><br><br>CHANGE VEHICLE PAINT</h2>
            <p class="text-align-justify">-Using modern equipment helps to shorten repair time.
                Minimizing the deformation of the tire surface as well as the change of the body material texture after repair.</p>
            <img alt="suachua" data-align="center" data-caption="<em>CHANGE VEHICLE PAINT</em>" data-entity-type="file" data-entity-uuid="12bf7ebc-35ca-4a1f-96a3-9d6ca96c0cc2" class="b-lazy" src="image/suachua3.png"  style=""><p class="text-center cap-style mt-2"><em>CHANGE VEHICLE PAINT</em></p>
            <h2 class="text-align-justify"><br><br>WHEEL SET ANGLE BALANCE/ DYNAMIC BALANCE</h2>
            <p class="text-align-justify">-After a period of use, operate. Due to many different reasons such as: road surface conditions, overloaded vehicles, collisions... Deviations in wheel alignment will appear, uneven tire wear. From there, it leads to phenomena such as: shaking the steering wheel at high speed, steering deviation,
                and steering wobble.</p>
            <p class="text-align-justify">-VinFast uses modern Italian equipment, returns the angle parameters like newly manufactured cars, helps the car operate stably, smoothly and avoids tire wear, mechanical details ...
                and especially is safe to operate.</p>
            <img alt="suachua" data-align="center" data-caption="<em>WHEEL SET ANGLE BALANCE/ DYNAMIC BALANCE</em>" data-entity-type="file" data-entity-uuid="12bf7ebc-35ca-4a1f-96a3-9d6ca96c0cc2" class="b-lazy" src="image/suachua4.png"  style=""><p class="text-center cap-style mt-2"><em>WHEEL SET ANGLE BALANCE/ DYNAMIC BALANCE</em></p>
            <h2 class="text-align-justify"><br><br>SAVING 24/7</h2>
            <p class="text-align-justify">-Free 24/7 support and rescue call center service when the vehicle has technical problems: (1900 23 23 89).</p>
            <p class="text-align-justify">-24/7 service ready to support wherever you are right after receiving a customer call.</p>
            <p class="text-align-justify">-Free rescue for faults/damages... Causing stoppage of operation while the vehicle is still under warranty. (Applicable to customers using VinFast or Chervolet vehicles).Free rescue for errors/damages... Causing operation stoppage while the vehicle is still under warranty.
                (Applicable to customers using VinFast or Chervolet cars).</p>
            <img alt="suachua" data-align="center" data-caption="<em>SAVING 24/7</em>" data-entity-type="file" data-entity-uuid="12bf7ebc-35ca-4a1f-96a3-9d6ca96c0cc2" class="b-lazy" src="image/suachua5.png"  style=""><p class="text-center cap-style mt-2"><em>SAVING 24/7</em></p>
        </div>
    </section>

<%- include("footer.ejs") %>

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<script src="js/index.js"></script>

</body>
</html>
